table {
  width: 100%;
  cursor: pointer;
  img{
    width: 100px;
    height: 60px;
    margin-top: 10px;
    border-radius: 5px;
  }
  tr.hovered {
    background-color: lightgray;
    cursor: pointer;
  }

  //tr.selected, tr.hovered.selected {
  //  background-color: lightgray;
  //}
}
